
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: $body-bg;
  color: $text-color;
}

a {
  color: #00FFFF;
}

.btn-pink {
  background-color: pink;
  color: $body-bg;
}

.btn-link {
  color: Aqua;
}
